h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

img {
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.logo img{
    width: 200px;
}
nav ul li{
    display: inline-block;
    color: white;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: monospace;
    padding-left: 20px;
   
}
nav ul li a:hover{
    color: #bfc500;
}


.banner img{
    width: 100%;
    
}
.sec1 {
    display: flex;
    align-items: center;
    padding: 30px 10px;
}


.left-col {
    width: 65%;
    padding-right: 150px;
}

.left-col p{
    text-align: justify;
}

.rt-col {
    width:35%;
}

.rt-col img {
    width: 45%;
    margin-right: 10px;
    margin-bottom: 15px;
}

.sec2{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.sec2 .left{
    width: 65%;
    padding-right: 250px;
}
.sec2 .left h1{
    font-size: 25px;
    color: yellow;
    padding-bottom: 20px;
}
.sec2 .left h2{
    font-size: 15px;
    padding-bottom: 15px;
}

.sec2 .right{
    width: 35%;
}
.sec2 .right p{
    font-size: 12px;
    padding-top: 80px;
    padding-right: 35px;
}

.sec3{
    background-color: #bfc500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}

.sec3 h1{
    font-size: 20px;
    font-weight: 800;
}
button{
    background-color: black;
    color: #bfc500;
    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 80px;
    font-size: 16px;
}
.sec3 button a{
    color: #bfc500;
    text-decoration: none;
}
.sec3 button a:hover{
    color: white;
}

.sec4{
    display: flex;
    padding: 30px;
    ;
}
.sec4 .left{
    width: 65%;
    padding-right: 100px;
}
.sec4 .right{
    width: 35%;
}
.sec4 .right img{
    width: 90%;
    padding-left: 60px;
}
.sec4 .left p{
    word-spacing: 5px;
    line-height: 23px;
    font-size: 16px;
}

span{
    color: #bfc500;
    text-decoration: underline;
}
.sec5 {
    width: 75%;
    line-height: 23px;
    padding-top: 40px;
}
.sec5 h2{
    padding-bottom: 20px;
    font-size: 30px;
}
.sec5 p{
    padding-bottom: 60px;
    word-spacing: 4px;
}

.sec6{
    text-align: center;
    display: flex;
    justify-content: space-around;

}
.sec6 img{
    width: 8%;
    display: inline-block;
}
.sec6 p{
    display: flex;
}
.sec7{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    padding-left: 20px;
    padding-bottom: 100px;
}
.sec7 .p1{
    width: 10%;
}
.sec7 .p2{
    width: 10%;
}
.sec7 .p3{
    width: 10%;
}
.sec7 .p4{
    width: 10%;
}
.sec7 .p5{
    width: 10%;
}

.sec8{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.sec8 .left{
    width: 65%;
}
.sec8 .left h2{
    font-size: 30px;
}
.sec8 .left p{
    word-spacing: 4px;
    line-height: 20px;
}
.sec8 .right{
    width: 20%;
    padding-bottom: 20px;
    
}

.sec8 img{
    width: 70%;
}

.sec9{
    padding-top:50px;
}
.sec9 h2{
    font-size: 30px;
}
.sec9 p{
    padding-top: 20px;
}
.sec10{
    display: flex;
}
.sec10 span{
    display: block;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 20px;
     text-decoration: none;
}
.sec10 ul li{
    list-style: none;
    text-decoration: line-through;
    padding-top: 28px;
}
.items3{
    background-color: #bfc500;
    width: 550px;
    height: 330px;
    margin-top: 30px;
    margin-left: 30px;
}





/* // Screen Size 1400px check */
@media (max-width: 1660px) {


}

/* // Screen Size 1200px check */
@media (max-width: 1399px) {
   
}

/* // Screen Size 992px check */
@media (max-width: 1199px) {
    .rt-col img{
        width: 39%;
    }
    .sec2 .right{
        width: 40%;
    }
    .sec2 .right p{
        padding-top: 45px;
        padding-right: 35px;
    }
    .sec10 h2{
        line-height: 110px;
    }
    .sec10 p{
        padding-top: 21px;
        line-height: 26px;
    }
    .items3 img{
        margin-top: 40px;
        width: 308px;
        height: 440px;
    }


}

/* // Screen Size 768px check */
@media (max-width: 991px) {
    body{      
    margin-left: 50px;
    margin-right: 50px;
    }
    nav ul li a{
        font-size: 11px;
    }
    .sec1.left-col h1{
        font-size: 25px;
    }
    .sec1.left-col{
        padding-right: 39px;
    }
    .sec1.rt-col{
        width: 43%;
    }
    .sec2 .left {
        width: 51%;
        padding-right: 90px;
    }
    .sec2 .right p{
        padding-top: 55px;
        font-size: 10px;
        padding-right: 5px;
    }
    .sec3{
        padding-left: 25px;
        padding-right: 25px;
    }
    .sec3 h1{
        font-size: 16px;
        font-weight: 800;
    }
    .sec4 .left {
        width: 50%;
        padding-right: 80px;
    }
    .sec4 .right {
        width: 78%;
        padding-top: 65px;
        padding-right: 30px;
    }
    .sec7{
        padding-bottom: 45px;
    }
    .sec7 .p3 {
        width: 11%;
    }
    .sec8 .left {
        width: 44%;
    }
    .sec8 .right {
        width: 40%;
    }
    .sec9 p{
        font-size: 13px;
    }
    .sec10 h2 {
        line-height: 144px;
    }
    .sec10 .items2 {
        width: 35%;
    }
    .sec10 p {
        padding-top: 21px;
        line-height: 21px;
    }

}

/* // Screen Size 576px check */
@media (max-width: 767px) {
    .logo img {
        width: 150px;
    }
    header{
        display: flex;
    }
    nav ul li{
        padding-top: 15px;
    }

    nav ul li a {
        font-size: 10px;
    }
    .sec1.left-col h1{
        font-size: 17px;
    }
    .sec1.left-col p{
        font-size: 11px;
    }
    .sec1.rt-col img {
        width: 36%;
    }
    .sec3 h1 {
        font-size: 14px;
        font-weight: 800;
        padding-top: 10px;
    }
    .sec3 p{
        width: 42%;
        font-size: 10px;
    }
    button {
        float: right;
        background-color: black;
        color: #bfc500;
        border-radius: 10px;
        border-style: none;
        width: 112px;
        height: 60px;
        font-size: 10px;
        margin-top: -63px;
    }
    .sec5 h2 {
        padding-bottom: 20px;
        font-size: 29px;
    }
    .sec5 p {
        padding-bottom: 20px;
        word-spacing: 2px;
    }
    .sec6 img {
        width: 18%;
    }
    .sec8 .left h2 {
        font-size: 26px;
    }
    .sec8 .left {
        width: 100% !important;
        padding: 0px !important;
    }
    .sec8 .left p {
        word-spacing: 4px;
        line-height: 20px;
    }
    .sec8 .right {
        width: 50%;
        padding-left: 160px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sec10 .items2 {
        width: 90%;
        margin-left: 20px;
        margin-top: -215%;
    }
    .items3 img {
        margin-top: 40px;
        width: 330px;
        height: 350px;
        margin-left: 58px;
    }
    .sec10 p {
        padding-top: 21px;
        line-height: 42px;
    }
    .sec10 h2 {
        line-height: 143px;
        padding-bottom: 0px;
    }
}

/* // Screen Size All mobile check */
@media (max-width: 575px) {

    body {
        margin: 0px 25px;
    }

    ul {
        margin: 0px 0 20px;
        padding: 0;
    }

    nav ul li a {
        padding-left: 5px;
    }

    .sec1, .sec2, .sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9, .sec10{
        display: block;
    }

    .left-col , .rt-col , .sec2 .right , .sec4 .left , .sec4 .right , .sec4 .right img , .sec7 p , .sec8 .left{
        width: 100% !important;
        padding: 0px !important;
    }

    .sec2 .left {
        padding: 0px;
        width: 100%;
    }
    
    .items3 img {
        width: 100%;
        max-width: 100%;
        margin: 0px;
    }

    .sec6 img {
        width: 18%;
    }

    .logo img {
        width: 80px;
    }
    nav ul {
        margin: 0px 0 12px;
        padding: 0;
    }
    nav ul li {
        padding-top: 5px;
    }
    nav ul li a {
        font-size: 6px;
    }
    .sec1.left-col h1{
        font-size: 23px;
    }
    .sec1.rt-col{
        margin-left: 26px;
        margin-top: 30px;
    }
    .sec2 .left {
        width: 100%;
    }
    .sec2 .left h1 {
        font-size: 35px;
        padding-bottom: 20px;
    }
    .sec2 .left h2 {
        font-size: 13px;
        padding-bottom: 0px;
    }
    .sec2 .left p{
        font-size: 19px;
    }
    .sec2 .right p {
        padding-top: 5px;
        font-size: 9px;
        padding-right: 5px;
    }
    button{
        margin-top: -84px;
    }
    .sec4 .left p {
        word-spacing: 3px;
        line-height: 19px;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .sec5 {
        width: 100%;
        line-height: 23px;
        padding-top: 30px;
    }
    .sec5 h2 {
        padding-bottom: 10px;
        font-size: 25px;
    }
    .sec5 p {
        padding-bottom: 5px;
        word-spacing: 1px;
    }
    .sec7 {
        padding-bottom: 15px;
    }
    .sec8 {
        padding-top: 25px;
    }
    .sec8 .left h2 {
        font-size: 28px;
    }
    .sec8 .left p {
        word-spacing: 2px;
        line-height: 21px;
        font-size: 15px;
        text-align: justify;
    }
    .sec8 .right {
        width: 70%;
        padding-left: 88px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sec9 {
        padding-top: 30px;
    }
    .sec9 h2 {
        font-size: 25px;
    }
    .sec9 p {
        padding-top: 8px;
        font-size: 14px;
    }
    .sec10 {
        padding-left: 10px;
        padding-top: 0px;
    }
    .sec10 h2 {
        line-height: 91px;
        padding-bottom: 0px;
    }
    .sec10 .items2 {
        width: 100%;
        margin-left: 20px;
        margin-top: -214%;
    }

    .items2 p.we-pay {
        visibility: hidden;
    }
    .sec10 p {
        padding-top: 24px;
        line-height: 16px;
        font-size: 15px;
    }
    .items3 img {
        margin-top: 30px;
        width: 300px;
        height: 320px;
        margin-left: 0px;
    }
   


}


