h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

img {
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.logo img{
    width: 200px;
}
nav ul li{
    display: inline-block;
    color: white;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: monospace;
    padding-left: 20px;
   
}
nav ul li a:hover{
    color: #bfc500;
}


.banner img{
    width: 100%;
    
}
.sec1 {
    display: flex;
    align-items: center;
    padding: 30px 10px;
}


.left-col {
    width: 65%;
    padding-right: 150px;
}

.left-col p{
    text-align: justify;
}

.rt-col {
    width:35%;
}

.rt-col img {
    width: 45%;
    margin-right: 10px;
    margin-bottom: 15px;
}

.sec2{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.sec2 .left{
    width: 65%;
    padding-right: 250px;
}
.sec2 .left h1{
    font-size: 25px;
    color: yellow;
    padding-bottom: 20px;
}
.sec2 .left h2{
    font-size: 15px;
    padding-bottom: 15px;
}

.sec2 .right{
    width: 35%;
}
.sec2 .right p{
    font-size: 12px;
    padding-top: 80px;
    padding-right: 35px;
}

.sec3{
    background-color: #bfc500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}

.sec3 h1{
    font-size: 20px;
    font-weight: 800;
}
button{
    background-color: black;
    color: #bfc500;
    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 80px;
    font-size: 16px;
}
.sec3 button a{
    color: #bfc500;
    text-decoration: none;
}
.sec3 button:hover{
    background-color: white;
}


.sec4{
    display: flex;
    padding: 30px;
    ;
}
.sec4 .left{
    width: 65%;
    padding-right: 100px;
}
.sec4 .right{
    width: 35%;
}
.sec4 .right img{
    width: 90%;
    padding-left: 60px;
}
.sec4 .left p{
    word-spacing: 5px;
    line-height: 23px;
    font-size: 16px;
}

span{
    color: #bfc500;
    text-decoration: underline;
}
.sec5 {
    width: 75%;
    line-height: 23px;
    padding-top: 40px;
}
.sec5 h2{
    padding-bottom: 20px;
    font-size: 30px;
}
.sec5 p{
    padding-bottom: 60px;
    word-spacing: 4px;
}

.sec6{
    text-align: center;
    display: flex;
    justify-content: space-around;

}
.sec6 img{
    width: 8%;
    display: inline-block;
}
.sec6 p{
    display: flex;
}
.sec7{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    padding-left: 20px;
    padding-bottom: 100px;
}
.sec7 .p1{
    width: 10%;
}
.sec7 .p2{
    width: 10%;
}
.sec7 .p3{
    width: 10%;
}
.sec7 .p4{
    width: 10%;
}
.sec7 .p5{
    width: 10%;
}

.sec7mobile {
    display: none;
}

.sec8{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.sec8 .left{
    width: 65%;
}
.sec8 .left h2{
    font-size: 30px;
}
.sec8 .left p{
    word-spacing: 4px;
    line-height: 20px;
}
.sec8 .right{
    width: 20%;
    padding-bottom: 20px;
    
}

.sec8 img{
    width: 70%;
}

.sec9{
    padding-top:50px;
}
.sec9 h2{
    font-size: 30px;
}
.sec9 p{
    padding-top: 20px;
}
.sec10{
    display: flex;
    justify-content: space-around;
}
.sec10 span{
    display: block;
    font-weight: 800;
    padding-top: 50px;
    text-decoration: none;
}
.sec10 ul li{
    list-style: none;
    text-decoration: line-through;
    padding-top: 40px;
}


.items3 img{
    width: 100%;
    background-color: #bfc500;
    height: 350px;
    margin-top: 40px;

}





/* // Screen Size 1400px check */
@media (max-width: 1660px) {


}

/* // Screen Size 1200px check */
@media (max-width: 1399px) {
    .sec10 ul li {
        padding-top: 34px;
    }
    .sec10 .items2{
        width: 62%;
    }
    .sec10 ul li {
        padding-top: 29px;
        padding-right: 40px;
    }
   
}

/* // Screen Size 992px check */
@media (max-width: 1199px) {
    .sec1 .left-col h1 br{
        display: none;
    }
    .sec1 .left-col h1{
        font-size: 28px;
    }
    .rt-col {
        width: 46%;
    }
    .rt-col img{
        width: 45%;
    }
    .sec2 .right{
        width: 40%;
    }
    .sec2 .right p{
        padding-top: 45px;
        padding-right: 35px;
    }
    .sec4 .right {
        width: 40%;
    }
    .sec4 .right img {
        width: 100%;
        padding-left: 20px;
        padding-top: 55px;
    }
    .sec8 .right {
        width: 26%;
    }
    .sec10 h2{
        line-height: 110px;
    }
    .sec10 p{
        padding-top: 21px;
        line-height: 26px;
    }
    .items3 img{
        margin-top: 40px;
        width: 270px;
        height: 348px;
        margin-left: 20px;
    }
    .sec10 ul li {
        padding-top: 21px;
        padding-right: 30px;
    }


}

/* // Screen Size 768px check */
@media (max-width: 991px) {
    body {
        margin-left: 60px;
        margin-right: 60px;
    }
    nav ul li {
        font-size: 20px;
    }
    .left-col {
        width: 50%;
        padding-right: 60px;
        padding-top: 20px;
    }
    .sec1 .left-col h1 {
        font-size: 23px;
    }
    .sec1 .left-col h1 br{
        display: none;
    }
    .rt-col {
        width: 46%;
        padding-top: 20px;
    }
    .rt-col img {
        width: 45%;
    }
    .sec3{
        padding-left: 25px;
        padding-right: 25px;
    }
    .sec3 h1 {
        font-size: 14px;
        font-weight: 800;
    }
    .sec4 .left {
        width: 50%;
        padding-right: 50px;
    }
    .sec4 .left p {
        word-spacing: 4px;
        line-height: 22px;
        font-size: 14px;
    }
    .sec4 .right {
        width: 42%;
    }
    .sec8 .left {
        width: 50%;
    }
    .sec8 .left p {
        word-spacing: 3px;
        line-height: 20px;
    }
    .sec8 .right {
        width: 32%;
    }
    .sec8 img {
        width: 100%;
    }
    .sec10{
        display: block;
    }
    .sec10 .items1{
        width: 10%;
        float: left;
    }
    .sec10 span {
        display: block;
        font-weight: 800;
        padding-top: 52px;
        text-decoration: none;
    }
    .sec10 .items2 {
        width: 90%;
        float: right;
    }
    .sec10 ul li {
        padding-top: 31px;
        padding-right: 30px;
    }
    .items3{
        text-align: center;
    }
    .items3 img{
        max-width: 100%;
        margin-left: 0px;
    }
}
    

   



/* // Screen Size 576px check */
@media (max-width: 767px) {
    body {
        margin-left: 40px;
        margin-right: 40px;
    }
    .logo img {
        width: 160px;
    }
    nav ul li {
        font-size: 17px;
    }
    .sec1{
        display: block;
    }
    .sec1 .left-col{
            width: 100%;
            padding-right: 0px;
            padding-top: 20px;
    }
    .sec1 .left-col h1 {
        font-size: 27px;
    }
    .rt-col {
        width: 100%;
        padding-top: 20px;
    }
    .sec2{
        display: block;
    }
    .sec2 .left {
        width: 100%;
        padding-right: 0px;
    }
    .sec2 .left h1 {
        font-size: 25px;
        color: yellow;
        padding-bottom: 15px;
    }
    .sec2 .left h2 {
        font-size: 16px;
        padding-bottom: 8px;
    }
    .sec2 .right {
        width: 100%;
    }
    .sec2 .right p {
        padding-top: 20px;
        font-size: 14px;
    }
    .sec3 {
        display: block;
        height: 200px;
    }
    .sec3 h1 {
        font-size: 25px;
        padding-top: 15px;
    }
    .sec3 p{
        font-size: 18px;
        margin: 0px;
        padding-top: 7px;
        padding-bottom: 15px;
    }
    .sec3 p br{
        display: none;
       
    }
    .sec3 .btn{
        text-align: center;
    }
    button {
        background-color: black;
        color: #bfc500;
        border-radius: 10px;
        border-style: none;
        width: 145px;
        height: 72px;
        font-size: 15px;
    }
    .sec4{
        display: block;
        padding: 0px;
    }
    .sec4 .left {
        padding-top: 10px;
        width: 100%;
        padding-right: 0px;
    }
    .sec4 .left h2{
        font-size: 27px;
    }
    .sec4 .left p {
        word-spacing: 4px;
        line-height: 22px;
        font-size: 17px;
    }

    .sec4 .right {
        width: 100%;
        padding-top: 15px;
    }
    .sec4 .right img {
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .sec5{
        width: 100%;
    }
    .sec5 p {
        padding-bottom: 30px;
    }
    .sec6{
        display: none;
    }
    .sec7 {
        display: none;
    }
    .sec7 hr{
        display: none;
    }
    .sec7mobile {
        display: block;
        margin: auto;
        text-align: center;
    }
    .sec7mobile img {
        width: 50%;
    }
    .sec7mobile p{
        font-size: 20px;
    }
    
    .sec8{
        display: block;
        padding-top: 40px;
    }
    
    .sec8 .left {
        width: 100%;
    }
    .sec8 .left h2 {
        font-size: 32px;
    }
    .sec8 .right {
        width: 40%;
        padding-top: 20px;
        margin: auto;
    }
    .sec10 .items2 ul .none{
        display: none;
    }
    .sec10 span {
        display: block;
        font-weight: 800;
        padding-top: 56px;
        text-decoration: none;
    }
    .sec10 ul li {
        padding-top: 35px;
        padding-right: 30px;
    }
    
    
}

/* // Screen Size All mobile check */
@media (max-width: 575px) {
    body {
        margin-left: 30px;
        margin-right: 30px;
    }
    header{
        display: block;
    }
    .logo{
        text-align: center;
    }
    .logo img {
        width: 60%;
    }
    
    nav {
        padding-bottom: 20px;
    }
    nav ul li {
        font-size: 14px;
    }
    nav ul li a {
        padding-left: 0;
        padding-right: 20px;
    }
    .sec1 .left-col h1 {
        font-size: 22px;
    }
    .sec2 .left {
        width: 100%;
        padding-right: 12px;
    }
    .sec2 .right {
        width: 100%;
    }
    .sec3 {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sec3 h1 {
        font-size: 18px;
    }
    .sec3 p {
        font-size: 15px;
        width: 100%;
    }
    .sec3 .btn{
        text-align: center;
        padding-bottom: 10px;
    }
    
    button {
        background-color: black;
        color: #bfc500;
        border-radius: 10px;
        border-style: none;
        width: 130px;
        height: 50px;
        font-size: 14px;
    }
    .sec4 .left h2{
        padding-top: 5px;
    }
    .sec5 h2 {
        padding-bottom: 20px;
        font-size: 24px;
    }
    .sec10 ul li {
        padding-top: 24px;
        padding-right: 0px;
    }
    .sec10 .items1 {
        width: 10%;
        float: left;
        margin-top: -27px;
    }
    .sec10 span {
        display: block;
        font-weight: 800;
        padding-top: 68px;
        text-decoration: none;
    }

}
